.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 10px #eee;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 1rem 0;
  position: relative;
  width: 100%;
  & .best_seller_tab_container {
    position: absolute;
    top: -0.3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  & button {
    box-shadow: 0;
    filter: drop-shadow(0 0 0);
    max-width: 12rem;
    height: 3rem;
    color: #fff;
    transition: all 0.3s ease;
    &:hover {
      filter: drop-shadow(0 1px 10px var(--brand-main));
    }
  }

  & .column_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-items: center;
    & .grid_col {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      & .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        & h3 {
          color: var(--brand-main);
          text-transform: uppercase;
          font-weight: 700;
          position: relative;
          &::after {
            height: 7px;
            background: var(--text-dark);
            width: 100%;
            content: "";
            display: block;
            position: absolute;
            bottom: -0.1rem;
            left: -0.25rem;
            z-index: -1;
            padding: 0.2rem;
          }
        }
        & h5 {
          text-transform: uppercase;
        }
      }

      & .img_container {
        max-width: 50%;
        z-index: 0;
        margin-top: -4rem;
        position: relative;
        & .bg_block {
          height: 100%;
          width: 100%;
          background: var(--brand-main);
          display: block;
          position: absolute;
        }
        & img {
          max-width: 100%;
        }
      }
      & .offer {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        & p {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: var(--brand-main);
          text-align: center;
          font-weight: 600;
        }
      }
      & .text_container {
        max-width: 70%;
        margin: 1rem 0;
        display: flex;
        z-index: 2;
        & p {
          text-align: center;
          line-height: 1.5;
        }
      }
    }
  }
}

.best_seller {
  margin-top: 2rem;
}
body
  > main
  > section
  > div.inventory_container
  > div.container_inner
  > div.lash_grid
  > div:nth-child(1) {
  border: 6px solid var(--brand-main);
  background: linear-gradient(65deg, transparent 51%, #ee41fa44 50%);
  & .best_seller_tab_container {
    & h4 {
      position: absolute;
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
      background: var(--brand-main);
      padding: 0.6rem;
    }
  }
}
body
  > main
  > section
  > div.inventory_container
  > div.container_inner
  > div.lash_grid
  > div:nth-child(2) {
  border: 6px solid var(--text-dark);
  background: linear-gradient(
    65deg,
    rgba(17, 17, 17, 0.096) 51%,
    transparent 50%
  );
  & .best_seller_tab_container {
    & h4 {
      position: absolute;
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
      background: var(--text-dark);
      padding: 0.6rem;
    }
  }
}

@media screen and (max-width: 1000px) {
  .column {
    & .col-order-1 {
      order: 1;
    }
    & .col-order-2 {
      order: 2;
    }
    & .column_grid {
      grid-template-columns: 1fr;

      & .heading {
        & h3 {
          color: var(--brand-main);
          text-transform: uppercase;
          font-weight: 700;
          position: relative;
          &::after {
            height: 10px;
            background: var(--text-dark);
            width: 100%;
            content: "";
            display: block;
            position: absolute;
            bottom: 0rem;
            left: -0.15rem;
            z-index: -1;
            padding: 0.2rem;
          }
        }
        & h5 {
          text-transform: uppercase;
        }
      }
      & .img_container {
        max-width: 70%;
        margin: -5rem 0;
        z-index: 0;
        position: relative;
        & .bg_block {
          height: 100%;
          width: 100%;
          background: var(--brand-main);
          display: block;
          position: absolute;
        }
        & img {
          max-width: 100%;
        }
      }
    }
  }
  .best_seller {
    margin-top: 2rem;
  }
  body
    > main
    > section
    > div.inventory_container
    > div.container_inner
    > div.lash_grid
    > div:nth-child(1) {
    border: 6px solid var(--brand-main);
    background: transparent;
  }
  body
    > main
    > section
    > div.inventory_container
    > div.container_inner
    > div.lash_grid
    > div:nth-child(2) {
    border: 6px solid var(--text-dark);
    background: transparent;
  }
}

@media screen and (max-width: 600px) {
  .column {
    & .img_container {
      max-width: 70%;
      margin: -5rem 0;
      z-index: 0;
      position: relative;
      & .bg_block {
        height: 100%;
        width: 100%;
        background: var(--brand-main);
        display: block;
        position: absolute;
      }
      & img {
        max-width: 100%;
      }
    }
  }
  .best_seller {
    margin-top: 2rem;
  }
  body
    > main
    > section
    > div.inventory_container
    > div.container_inner
    > div.lash_grid
    > div:nth-child(1) {
    border: 6px solid var(--brand-main);
  }
  body
    > main
    > section
    > div.inventory_container
    > div.container_inner
    > div.lash_grid
    > div:nth-child(2) {
    border: 6px solid var(--text-dark);
  }
}
