.subscription-container {
  grid-column-start: 1;
  grid-column-end: 3;
  border: 10px solid var(--text-dark);
  border-top: 0;
  margin: 2rem 0;
  & .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    & h4 {
      color: #fff;
      margin: 0;
      width: 100%;
      padding: 1rem;
      background: var(--text-dark);
      color: #fff;
      font-size: 1.5vw;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
    }
  }
  & .two_row_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);

    & .row {
      display: flex;
      justify-content: center;
      align-items: center;
      & .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        & img {
          max-width: 100%;
        }
      }
    }
    & .center-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      & .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 70%;
        margin: 1rem;
        & p {
          text-align: Center;
          font-weight: 600;
          line-height: 1.5;
          font-size: 1rem;
          margin: 2rem;
        }
        & button {
          width: 20rem;
          height: 3rem;
          background: var(--text-dark);
          filter: drop-shadow(0 0 0);
          color: #fff;
          text-transform: uppercase;
          border: 0;
          &:hover {
            filter: drop-shadow(0 1px 10px var(--brand-main));
          }
        }
      }
    }
    & .two-col {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      & .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        & img {
          max-width: 100%;
        }
      }
      & .alt {
        background: var(--text-dark);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & h2 {
          text-align: center;
          font-size: 3vw;
          font-weight: 700;
          color: #fff;
          margin: 2rem;
          text-transform: uppercase;
        }
        & span {
          background: var(--brand-main);
          height: 8px;
          width: 100px;
          border-radius: 100px;
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .subscription-container {
    grid-column-start: 1;
    grid-column-end: 1;
    & .header {
      & h4 {
          font-size:3vw;
      }
    }
    & .two_row_container {
      & .two-col {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        & .col {
          display: flex;
          flex-direction: column;
          align-items: center;
          order: 1;
          & img {
            max-width: 100%;
          }
        }
        & .alt {
          order: 0;
          & h2 {
            font-size: 7vw;
          }
        }
      }
    }
  }
}
