@import url("https://use.typekit.net/xsu2yzn.css");

@import "./popup";
@import "./loadingspinner";
@import "./doublecolumn";
@import "./column";
@import "./inventory";
@import "./tworowcolumn";

:root {
  --brand-main: #ef41fa;
  --text-color: #666;
  --text-dark: #111;
  --text-medium: "#333";
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
label,
span {
  font-family: roboto-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--text-dark);
  font-weight: 700;
}
